{% extends 'auth/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block auth_content %}

<h1 class="text-center mb-4">Welcome</h1>

{{ form(form) }}
<div style="text-align: center; margin-top: 10px;">
    <a href="{{ path('user_register') }}" style="text-decoration: none;">Pas de compte ?</a>
</div>

{% endblock %}